<div class="text-center my-5">
  <h2 class="font-weight-bold">このサイトについて</h2>
</div>
<div class="row">
  <div class="col-xs-6">
    <%= image_tag "tokkuri.jpg", :image, :fill, 400, 400, class:"border" %>
  </div>
    <div class="mx-auto align-items-center">
    <br>
    <br>
    <h5><u class="font-weight-bold">簡単にお店の予約をしよう</u></h5>
    <br>
    <br>
    人気のお店を事前に予約してスムーズに入店したいあなたへ<br>
    大人数でも安心。新年会、忘年会など事前に予約を済ませておきたいときにうってつけ<br>
    <br>
  </div>
  <div class="col-xs-6 mx-auto my-5">
    <%= image_tag "farmer.jpg", alt: "farmer", :size => "400x300", class:"border" %>
  </div>
</div>
<h5>
  画像は
  <a href="https://www.pakutaso.com" title="フリー写真素材ぱくたそ" >フリー写真素材ぱくたそ </a>
  より引用
</h5>